Digilab projekt/steps/2-.md
[
    {
        "id": "85eca4ba3ac85b54",
        "type": "inject",
        "z": "61472d4dfb8b5246",
        "name": "Track Bot Uptime",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 980,
        "wires": [
            [
                "ea33fcacb588b40d"
            ]
        ]
    },
    {
        "id": "ea33fcacb588b40d",
        "type": "function",
        "z": "61472d4dfb8b5246",
        "name": "Calculate Uptime",
        "func": "// Get the startup time or initialize it\nif (!flow.get('botStartTime')) {\n    flow.set('botStartTime', new Date().getTime());\n}\n\n// Calculate uptime\nconst startTime = flow.get('botStartTime');\nconst currentTime = new Date().getTime();\nconst uptimeMs = currentTime - startTime;\n\n// Convert to hours, minutes, seconds\nconst seconds = Math.floor(uptimeMs / 1000) % 60;\nconst minutes = Math.floor(uptimeMs / (1000 * 60)) % 60;\nconst hours = Math.floor(uptimeMs / (1000 * 60 * 60));\n\n// Format nicely\nconst uptimeStr = `Uptime: ${hours}h ${minutes}m ${seconds}s`;\n\n// Prepare message for LCD screen\nmsg.line = 1;\nmsg.payload = uptimeStr;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 980,
        "wires": [
            [
                "0f45785a4ff7d068"
            ]
        ]
    },
    {
        "id": "0f45785a4ff7d068",
        "type": "template",
        "z": "61472d4dfb8b5246",
        "name": "Build LCD Write Command",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " --line \"{{line}}\" --message \"{{payload}}\"",
        "output": "str",
        "x": 1200,
        "y": 980,
        "wires": [
            [
                "ad13ea7a7bf2a2ea"
            ]
        ]
    },
    {
        "id": "ad13ea7a7bf2a2ea",
        "type": "exec",
        "z": "61472d4dfb8b5246",
        "command": "python /home/Alexandre/digilab/digilab/lcd/write.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Write to LCD",
        "x": 1450,
        "y": 980,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "abda954d5e71d330",
        "type": "inject",
        "z": "61472d4dfb8b5246",
        "name": "Initialize LCD",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 730,
        "y": 920,
        "wires": [
            [
                "01d03f26ac183c28"
            ]
        ]
    },
    {
        "id": "01d03f26ac183c28",
        "type": "exec",
        "z": "61472d4dfb8b5246",
        "command": "python /home/Alexandre/digilab/digilab/lcd/init.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Clear LCD Screen",
        "x": 940,
        "y": 920,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8b1664c3145998a9",
        "type": "inject",
        "z": "61472d4dfb8b5246",
        "name": "Monitor S2 Button",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 740,
        "y": 1040,
        "wires": [
            [
                "ed39e4bfacf432a9"
            ]
        ]
    },
    {
        "id": "ed39e4bfacf432a9",
        "type": "exec",
        "z": "61472d4dfb8b5246",
        "command": "python -c \"import RPi.GPIO as GPIO; GPIO.setmode(GPIO.BCM); GPIO.setup(27, GPIO.IN, pull_up_down=GPIO.PUD_UP); print(GPIO.input(27)); GPIO.cleanup()\"",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Read S2 Button",
        "x": 950,
        "y": 1040,
        "wires": [
            [
                "742977cf02c766b0"
            ],
            [],
            []
        ]
    },
    {
        "id": "742977cf02c766b0",
        "type": "function",
        "z": "61472d4dfb8b5246",
        "name": "Detect Button Press",
        "func": "// Get button state (0 = pressed, 1 = not pressed)\nconst buttonState = parseInt(msg.payload.trim());\nconst lastState = flow.get('lastButtonState') || 1;\n\n// Store current state\nflow.set('lastButtonState', buttonState);\n\n// Detect button press (transition from 1 to 0)\nif (lastState === 1 && buttonState === 0) {\n    // Button was just pressed\n    return msg;\n}\n\n// No button press detected\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 1040,
        "wires": [
            [
                "43e2f4e3b7b27aa3"
            ]
        ]
    },
    {
        "id": "43e2f4e3b7b27aa3",
        "type": "function",
        "z": "61472d4dfb8b5246",
        "name": "Display Command Info",
        "func": "// Initialize command counter if needed\nif (flow.get('commandCount') === undefined) {\n    flow.set('commandCount', 0);\n}\n\n// Get current count and last command time\nconst count = flow.get('commandCount');\nconst lastCommandTime = flow.get('lastCommandTime');\n\n// Format the time nicely\nlet timeStr = 'Never';\nif (lastCommandTime) {\n    const date = new Date(lastCommandTime);\n    const hours = date.getHours().toString().padStart(2, '0');\n    const minutes = date.getMinutes().toString().padStart(2, '0');\n    const seconds = date.getSeconds().toString().padStart(2, '0');\n    timeStr = `${hours}:${minutes}:${seconds}`;\n}\n\n// Prepare messages for LCD (line 1 and line 2)\nconst msg1 = {\n    line: 1,\n    payload: `Commands: ${count}`\n};\n\nconst msg2 = {\n    line: 2,\n    payload: `Last: ${timeStr}`\n};\n\nreturn [msg1, msg2];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 1040,
        "wires": [
            [
                "0f45785a4ff7d068"
            ],
            [
                "0f45785a4ff7d068"
            ]
        ]
    },
    {
        "id": "517e46d15c1a1a63",
        "type": "function",
        "z": "61472d4dfb8b5246",
        "name": "Track Discord Commands",
        "func": "// Get current command count\nlet count = flow.get('commandCount') || 0;\n\n// Increment counter\ncount++;\n\n// Save count and current timestamp\nflow.set('commandCount', count);\nflow.set('lastCommandTime', new Date().getTime());\n\n// Continue with original payload\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "462c9d28ec0303cc",
        "type": "link in",
        "z": "61472d4dfb8b5246",
        "name": "Discord Command Input",
        "links": [],
        "x": 735,
        "y": 1100,
        "wires": [
            [
                "517e46d15c1a1a63"
            ]
        ]
    },
    {
        "id": "026c10c5e77501f5",
        "type": "inject",
        "z": "61472d4dfb8b5246",
        "name": "Initialize Counters",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 740,
        "y": 860,
        "wires": [
            [
                "d292eadcb2f78b1f"
            ]
        ]
    },
    {
        "id": "d292eadcb2f78b1f",
        "type": "function",
        "z": "61472d4dfb8b5246",
        "name": "Reset Command Counter",
        "func": "// Initialize command counter and clear last command time\nflow.set('commandCount', 0);\nflow.set('lastCommandTime', null);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 860,
        "wires": [
            []
        ]
    }
]