Digilab projekt/steps/2-.md
[
    {
        "id": "85eca4ba3ac85b54",
        "type": "inject",
        "z": "61472d4dfb8b5246",
        "name": "Track Bot Uptime",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 830,
        "y": 820,
        "wires": [
            [
                "ea33fcacb588b40d"
            ]
        ]
    },
    {
        "id": "ea33fcacb588b40d",
        "type": "function",
        "z": "61472d4dfb8b5246",
        "name": "Calculate Uptime",
        "func": "// Get the startup time or initialize it\nif (!flow.get('botStartTime')) {\n    flow.set('botStartTime', new Date().getTime());\n}\n\n// Calculate uptime\nconst startTime = flow.get('botStartTime');\nconst currentTime = new Date().getTime();\nconst uptimeMs = currentTime - startTime;\n\n// Convert to hours, minutes, seconds\nconst seconds = Math.floor(uptimeMs / 1000) % 60;\nconst minutes = Math.floor(uptimeMs / (1000 * 60)) % 60;\nconst hours = Math.floor(uptimeMs / (1000 * 60 * 60));\n\n// Format nicely\nconst uptimeStr = `Up: ${hours}h ${minutes}m ${seconds}s`;\n\n// Store uptime for button display\nflow.set('currentUptime', uptimeStr);\n\n// Only update LCD if not in command display mode\nif (!flow.get('showingCommands')) {\n    msg.line = 1;\n    msg.payload = uptimeStr;\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 820,
        "wires": [
            [
                "0f45785a4ff7d068"
            ]
        ]
    },
    {
        "id": "0f45785a4ff7d068",
        "type": "template",
        "z": "61472d4dfb8b5246",
        "name": "Build LCD Write Command",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " --line \"{{line}}\" --message \"{{payload}}\"",
        "output": "str",
        "x": 1300,
        "y": 820,
        "wires": [
            [
                "ad13ea7a7bf2a2ea"
            ]
        ]
    },
    {
        "id": "ad13ea7a7bf2a2ea",
        "type": "exec",
        "z": "61472d4dfb8b5246",
        "command": "python /home/Alexandre/digilab/digilab/lcd/write.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Write to LCD",
        "x": 1540,
        "y": 820,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "abda954d5e71d330",
        "type": "inject",
        "z": "61472d4dfb8b5246",
        "name": "Initialize LCD",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 830,
        "y": 760,
        "wires": [
            [
                "01d03f26ac183c28"
            ]
        ]
    },
    {
        "id": "01d03f26ac183c28",
        "type": "exec",
        "z": "61472d4dfb8b5246",
        "command": "python /home/Alexandre/digilab/digilab/lcd/init.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Clear LCD Screen",
        "x": 1040,
        "y": 760,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "742977cf02c766b0",
        "type": "function",
        "z": "61472d4dfb8b5246",
        "name": "Detect Button Press",
        "func": "// Only trigger on button press (payload will be 0 for button press with rpi-gpio in node)\nif (msg.payload === 0) {\n    // Button pressed - toggle display mode\n    const showingCommands = flow.get('showingCommands') || false;\n    \n    if (!showingCommands) {\n        // Switch to command display mode\n        flow.set('showingCommands', true);\n        \n        // Set timeout to return to uptime display after 10 seconds\n        const timeoutId = setTimeout(() => {\n            flow.set('showingCommands', false);\n            // Return to uptime display\n            const uptime = flow.get('currentUptime') || 'Up: 0h 0m 0s';\n            node.send({\n                line: 1,\n                payload: uptime\n            });\n        }, 10000);\n        \n        // Clear any existing timeout\n        const existingTimeout = flow.get('displayTimeout');\n        if (existingTimeout) {\n            clearTimeout(existingTimeout);\n        }\n        flow.set('displayTimeout', timeoutId);\n        \n        return msg;\n    }\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 940,
        "wires": [
            [
                "43e2f4e3b7b27aa3"
            ]
        ]
    },
    {
        "id": "43e2f4e3b7b27aa3",
        "type": "function",
        "z": "61472d4dfb8b5246",
        "name": "Display Command Info",
        "func": "// Get current count and last command time\nconst count = flow.get('commandCount') || 0;\nconst lastCommandTime = flow.get('lastCommandTime');\n\n// Format the time nicely\nlet timeStr = 'Never';\nif (lastCommandTime) {\n    const date = new Date(lastCommandTime);\n    const hours = date.getHours().toString().padStart(2, '0');\n    const minutes = date.getMinutes().toString().padStart(2, '0');\n    const seconds = date.getSeconds().toString().padStart(2, '0');\n    timeStr = `${hours}:${minutes}:${seconds}`;\n}\n\n// Prepare messages for LCD (line 1 and line 2)\nconst msg1 = {\n    line: 1,\n    payload: `Commands: ${count}`\n};\n\nconst msg2 = {\n    line: 2,\n    payload: `Last: ${timeStr}`\n};\n\nreturn [msg1, msg2];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 880,
        "wires": [
            [
                "lcd_delay_1"
            ],
            [
                "lcd_delay_2"
            ]
        ]
    },
    {
        "id": "lcd_delay_1",
        "type": "delay",
        "z": "61472d4dfb8b5246",
        "name": "LCD Write Delay 1",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1560,
        "y": 860,
        "wires": [
            [
                "0f45785a4ff7d068"
            ]
        ]
    },
    {
        "id": "lcd_delay_2",
        "type": "delay",
        "z": "61472d4dfb8b5246",
        "name": "LCD Write Delay 2",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1560,
        "y": 900,
        "wires": [
            [
                "0f45785a4ff7d068"
            ]
        ]
    },
    {
        "id": "517e46d15c1a1a63",
        "type": "function",
        "z": "61472d4dfb8b5246",
        "name": "Track Discord Commands",
        "func": "// Get current command count\nlet count = flow.get('commandCount') || 0;\n\n// Increment counter\ncount++;\n\n// Save count and current timestamp\nflow.set('commandCount', count);\nflow.set('lastCommandTime', new Date().getTime());\n\n// Continue with original payload\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "462c9d28ec0303cc",
        "type": "link in",
        "z": "61472d4dfb8b5246",
        "name": "Discord Command Input",
        "links": [],
        "x": 835,
        "y": 940,
        "wires": [
            [
                "517e46d15c1a1a63"
            ]
        ]
    },
    {
        "id": "026c10c5e77501f5",
        "type": "inject",
        "z": "61472d4dfb8b5246",
        "name": "Initialize Counters",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 840,
        "y": 700,
        "wires": [
            [
                "d292eadcb2f78b1f"
            ]
        ]
    },
    {
        "id": "d292eadcb2f78b1f",
        "type": "function",
        "z": "61472d4dfb8b5246",
        "name": "Reset Command Counter",
        "func": "// Initialize command counter and clear last command time\nflow.set('commandCount', 0);\nflow.set('lastCommandTime', null);\nflow.set('showingCommands', false);\nflow.set('currentUptime', 'Up: 0h 0m 0s');\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "ed39e4bfacf432a9",
        "type": "rpi-gpio in",
        "z": "61472d4dfb8b5246",
        "name": "S2 Button GPIO27",
        "pin": "27",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 1060,
        "y": 880,
        "wires": [
            [
                "742977cf02c766b0"
            ]
        ]
    }
]